flows.json
[
    {
        "id": "244f269aed9b7143",
        "type": "ui_text",
        "z": "65ac0e5e3699bd83",
        "group": "7856e28378e4cda8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Waktu Pengecekan Terakhir",
        "format": "{{msg.payload.date}}",
        "layout": "row-center",
        "className": "",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "efb8228e95938d68",
        "type": "mqtt in",
        "z": "65ac0e5e3699bd83",
        "name": "",
        "topic": "DataPenyiraman",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "1853f9e1f2b2d22c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 440,
        "wires": [
            [
                "244f269aed9b7143",
                "45f31ea03a9dbf48",
                "d01e0caba55097e7",
                "77c82f7571d447e2",
                "7fd9cf2fe7d2d955",
                "dd9ba47bf4b99c44",
                "b254cb724c7d8d84",
                "fb7152890ea83bea",
                "1d27b8eb0a851e02",
                "098e45fa5402f7cb",
                "c837e236f898de61",
                "11df99d95bf0688d"
            ]
        ]
    },
    {
        "id": "fb7152890ea83bea",
        "type": "ui_text",
        "z": "65ac0e5e3699bd83",
        "group": "7856e28378e4cda8",
        "order": 6,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Aksi Jalur 1",
        "format": "{{msg.payload.action1}}",
        "layout": "row-center",
        "className": "",
        "x": 550,
        "y": 700,
        "wires": []
    },
    {
        "id": "1d27b8eb0a851e02",
        "type": "ui_text",
        "z": "65ac0e5e3699bd83",
        "group": "f006cf5023eb947e",
        "order": 6,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Aksi Jalur 2",
        "format": "{{msg.payload.action2}}",
        "layout": "row-center",
        "className": "",
        "x": 550,
        "y": 740,
        "wires": []
    },
    {
        "id": "45f31ea03a9dbf48",
        "type": "ui_gauge",
        "z": "65ac0e5e3699bd83",
        "name": "",
        "group": "7856e28378e4cda8",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "Sensor Tanah 1",
        "label": "%",
        "format": "{{msg.payload.tanah1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "d01e0caba55097e7",
        "type": "ui_gauge",
        "z": "65ac0e5e3699bd83",
        "name": "",
        "group": "f006cf5023eb947e",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "Sensor Tanah 2",
        "label": "%",
        "format": "{{msg.payload.tanah2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 420,
        "wires": []
    },
    {
        "id": "77c82f7571d447e2",
        "type": "ui_gauge",
        "z": "65ac0e5e3699bd83",
        "name": "",
        "group": "7856e28378e4cda8",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Sensor Suhu 1",
        "label": "Celcius",
        "format": "{{msg.payload.suhu}}",
        "min": "10",
        "max": "40",
        "colors": [
            "#20a2d9",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "22.5",
        "seg2": "33.5",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 460,
        "wires": []
    },
    {
        "id": "7fd9cf2fe7d2d955",
        "type": "ui_gauge",
        "z": "65ac0e5e3699bd83",
        "name": "",
        "group": "f006cf5023eb947e",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Sensor Suhu 2",
        "label": "Celcius",
        "format": "{{msg.payload.suhu}}",
        "min": "10",
        "max": "40",
        "colors": [
            "#20a2d9",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "22.5",
        "seg2": "33.5",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "dd9ba47bf4b99c44",
        "type": "ui_gauge",
        "z": "65ac0e5e3699bd83",
        "name": "",
        "group": "7856e28378e4cda8",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "Sensor Hujan 1",
        "label": "%",
        "format": "{{msg.payload.hujan}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 540,
        "wires": []
    },
    {
        "id": "b254cb724c7d8d84",
        "type": "ui_gauge",
        "z": "65ac0e5e3699bd83",
        "name": "",
        "group": "f006cf5023eb947e",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "Sensor Hujan 2",
        "label": "%",
        "format": "{{msg.payload.hujan}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 580,
        "wires": []
    },
    {
        "id": "bdbfe5bc02282452",
        "type": "ui_chart",
        "z": "65ac0e5e3699bd83",
        "name": "",
        "group": "7856e28378e4cda8",
        "order": 5,
        "width": 6,
        "height": 5,
        "label": "Hasil Fuzzy 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "c837e236f898de61",
        "type": "function",
        "z": "65ac0e5e3699bd83",
        "name": "Hasil Fuzzy 1",
        "func": "let exactDateTimestamp1 = new Date(\"4/14/2023 14:54:00\").getTime();\nlet exactDateTimestamp2 = new Date(\"4/14/2023 14:59:00\").getTime();\nlet exactDateTimestamp3 = new Date(\"4/14/2023 15:04:00\").getTime();\nlet exactDateTimestamp4 = new Date(\"4/14/2023 15:06:00\").getTime();\nlet exactDateTimestamp5 = new Date(\"4/14/2023 15:09:00\").getTime();\n\nmsg.payload = [{\n    \"series\": [\"A\"],\n    \"data\": [\n        [{ \"x\": exactDateTimestamp1, \"y\": 0.43966263 },\n        { \"x\": exactDateTimestamp2, \"y\": 0.45987395 },\n        { \"x\": exactDateTimestamp3, \"y\": 0.444272446 },\n        { \"x\": exactDateTimestamp4, \"y\": 0.473767886 },\n        //{ \"x\": exactDateTimestamp5, \"y\": 0.463019031 }\n        ],\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 620,
        "wires": [
            [
                "bdbfe5bc02282452"
            ]
        ]
    },
    {
        "id": "f4f9e1be1d04da5f",
        "type": "ui_chart",
        "z": "65ac0e5e3699bd83",
        "name": "",
        "group": "f006cf5023eb947e",
        "order": 5,
        "width": 6,
        "height": 5,
        "label": "Hasil Fuzzy 2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "11df99d95bf0688d",
        "type": "function",
        "z": "65ac0e5e3699bd83",
        "name": "Hasil Fuzzy 2",
        "func": "let exactDateTimestamp1 = new Date(\"4/14/2023 14:54:00\").getTime();\nlet exactDateTimestamp2 = new Date(\"4/14/2023 14:59:00\").getTime();\nlet exactDateTimestamp3 = new Date(\"4/14/2023 15:04:00\").getTime();\nlet exactDateTimestamp4 = new Date(\"4/14/2023 15:06:00\").getTime();\nlet exactDateTimestamp5 = new Date(\"4/14/2023 15:09:00\").getTime();\n\nmsg.payload = [{\n    \"series\": [\"A\"],\n    \"data\": [\n        [{ \"x\": exactDateTimestamp1, \"y\": 0.323529412 },\n        { \"x\": exactDateTimestamp2, \"y\": 0.414705882},\n        { \"x\": exactDateTimestamp3, \"y\": 0.417763158 },\n        { \"x\": exactDateTimestamp4, \"y\": 0.508744038 },\n        //{ \"x\": exactDateTimestamp5, \"y\": 0.433391003 }\n        ],\n    ],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 660,
        "wires": [
            [
                "f4f9e1be1d04da5f"
            ]
        ]
    },
    {
        "id": "098e45fa5402f7cb",
        "type": "ui_text",
        "z": "65ac0e5e3699bd83",
        "group": "f006cf5023eb947e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Waktu Pengecekan Terakhir",
        "format": "{{msg.payload.date}}",
        "layout": "row-center",
        "className": "",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "7856e28378e4cda8",
        "type": "ui_group",
        "name": "Data Penyiraman Tanaman Jalur 1",
        "tab": "4bdc559782a76f8d",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1853f9e1f2b2d22c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "public.mqtthq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f006cf5023eb947e",
        "type": "ui_group",
        "name": "Data Penyiraman Tanaman jalur 2",
        "tab": "a73ad751f903af9f",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4bdc559782a76f8d",
        "type": "ui_tab",
        "name": "Jalur 1",
        "icon": "fa-leaf",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a73ad751f903af9f",
        "type": "ui_tab",
        "name": "Jalur 2",
        "icon": "fa-leaf",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]